@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

@font-face {
    font-family: 'Emblema';
    src: url(fonts/EmblemaOne-Regular.ttf);
}

body {
    background-color: #FFDDA9;
    font-family: 'Inter';
    font-size: 20px;
    color: #242424;
}

.navbar {
    background-color: #FF9900 !important;
}

.navbar-toggler {
    color: white !important;
    padding: 15px !important;
    font-size: 25px !important;
    border: none !important;
}

.navbar-toggler:hover {
    border: none !important;
    text-decoration: none !important;
    box-shadow: none !important;
}

nav>div>a.navbar-brand {
    font-family: 'Emblema' !important;
    font-size: 30px;
}

.descContainer {
    background-color: rgb(255 153 0 / 0.45) !important;
    padding: 40px 15px 40px 15px;
    margin-top: 45px;
    border-radius: 20px;
}

h1 {
    font-size: 64px;
    font-weight: unset;
    margin-top: 46px !important;
    color: black;
}

h5 {
    font-size: 36px;
    margin-top: 0px;
    margin-left: 15px;
    padding-top: 0px;
    border-left: solid 8px #FF9900;
}

@media (max-width: 575px) {
    h5 {
        font-size: 30px;
    }
}

#imgMain {
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    max-width: 350px;
}

#pMain {
    font-size: 24px;
}

#hozzavalok {
    margin-top: 30px;
}

h3 {
    font-size: 30px;
    text-decoration: underline solid 2px;
    font-family: 'Sofadi One';
}

#pRecept {
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
}
/* Idáig */